<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styyle1.css">
</head>
<body>
    <h1>hello tharun you are in ejs file it loaded from server side--dynamic routing </h1>
    <h2>okays lets doo</h2>


    <script src="/scripts/script1.js"></script>
</body>
</html>