*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

.btns1{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2vmax 3vmin;
    border: none;
}

#btn1{
    background-color: rgb(41, 193, 41);
}